.container {
  height: 40px;
  width: 300px;
  background-color: antiquewhite;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
  position: relative;
 
}

.container span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container div{
  height: 100%;
  background-color: green;
}