*{
  margin: 0;
  padding: 0;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin : 5px;
}

.product_single {
  display: flex;
  flex-direction: column; /* Ensures text comes below the image */
  align-items: center; /* Centers text horizontally */
}

img{
  height: 250px;
  width: 250px;
  border: 2px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px;
}

.pagination > span{
  padding: 15px 20px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination_disable{
  opacity: 0;
}

.pagination_selected{
  background-color: grey;
}
