.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}



.container{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  position : relative;
 
}

.close{
  position: absolute;
  right: 1px;
  top: 0;
  font-size: 20px;
}